@model List<BookModel>
@{
    ViewData["Title!!!"] = "Books";
}

<div class="text-center">
    <h1 class="display-4">Books Books Books!</h1>
    <ul>
        @foreach (BookModel book in Model)
        {
            <li>
                <h2> @book.Title </h2>
                <p>by @book.Author</p>
            </li>
        }
    </ul>
</div>
